/* Linnéstudenternas graphical theme */
$bgc-primary: #F5F5F5;
$bgc-header: #FFFFFF;
$bgc-menu: #333333;
$bgc-footer: #2C2C2C;

$fgc-primary: #F49A12;
$fgc-secondary: #F48712;

$fontc-primary: #444444;
$fontc-secondary: #FFFFFF;
$linkc-primary: #F49A12;
$linkc-secondary: #D88200;
$linkc-tertiary: #666666;

$font-headings: "brandon-grotesque-n7","brandon-grotesque", "Lato",sans-serif;
$font-paragraphs: "source-serif-pro-n4","source-serif-pro", "Source Serif Pro",sans-serif;

$footer-height: 300px;
$main-width: 1440px;
