@import 'theme';

// CSS reset
html, body, div, header, main, section, aside,
h1, h2, h3, h4, h5, h6, p, code, pre {
  margin: 0;
  padding: 0;
}

html {
  body {
    background: $bgc-primary;
  }
}

.container {
  width: 1600px;

  .jumbotron {
    background: $bgc-header;
    border-radius: 0px;
    border-top: 5px solid $fgc-primary;
  }
}
