@import 'theme';

// CSS reset
html, body, div, header, main, section, aside,
h1, h2, h3, h4, h5, h6, p, code, pre {
  margin: 0;
  padding: 0;
}

html {
  body {
    background: $bgc-primary;
    font-family: $font-paragraphs;
  }
}

.container .jumbotron, h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
}

.container {
  width: 1600px;

  .jumbotron {
    background: $bgc-header;
    border-radius: 0px;
    border-top: 5px solid $fgc-primary;
    margin: 0 auto;
  }
}

/** Media queries **/
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Minimum Media Queries
@media (min-width: $screen-xs) { } //480px & greater
@media (min-width: $screen-sm) { } //768px & greater
@media (min-width: $screen-md) { } //992px & greater
@media (min-width: $screen-lg) { } //1200px & greater

// Minimum - Maximum Media Queries
@media (min-width: $screen-xs) and (max-width: $screen-xs) { } //480px - 767px
@media (min-width: $screen-sm) and (max-width: $screen-sm){ } //768px - 991px
@media (min-width: $screen-md) and (max-width: $screen-md) { } //992px & 1199px

// Maxium Media Queries
// Note: It’s highly recommended to use min-width media queries when possible.
@media (max-width: $screen-xs) { } //479px & lower
@media (max-width: $screen-sm) { } //767px & lower
@media (max-width: $screen-md) { } //991px & lower
@media (max-width: $screen-lg) {
  .container {
    width: auto;
  }
} //1199px & lower
