<div class="col-md-8" id="create">
    <form class="col-md-8">
        <div class="form-group">
            <label for="name">Namn</label>
            <input type="text" class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-default">Skapa fakultet</button>
    </form>
</div>
