<div class="col-md-8" id="create">
    <p>Vill du verkligen radera {{faculty.name}}...</p>
    <form action="/admin/faculties/delete/{{faculty.id}}"  method="post" id="facultydelete">
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        <button type="submit" class="btn btn-warning btn-lg">Radera fakultet</button>
    </form>

</div>
