<!DOCTYPE html>
<html>
  <head>
    <title>TS Express Boilerplate</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{>header}}

    {{{body}}}

    {{>footer}}
    <script src="/js/bundle.min.js"></script>
  </body>
</html>
