<div class="col-md-8" id="councilPanel">
    <form method="POST" action="/admin/councils/create" id="formNewCouncilTerm">
        <h3>Lägg till period för råd</h3>
        <div class="form-group row">
            <label for="inputFaculty" class="col-sm-3 col-form-label">Välj fakultet</label>
            <div class="col-sm-9">
                <select name="faculty" id="inputFaculty" class="form-control ">
            <option value="null">Välj...</option>
            {{#if faculties}}
            {{#each faculties}}
            <option value="{{{this.id}}}">{{{this.name}}}</option>
            {{/each}}
            {{/if}}
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCouncil" class="col-sm-3 col-form-label">Välj råd</label>
            <div class="col-sm-9">
                <select name="council" id="inputCouncil" class="form-control">
            <option value="null">Välj...</option>

            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="dateFrom" class="col-sm-3 col-form-label">Från datum</label>
            <div class="col-sm-3">
                <input type="date" name="dateFrom" class="form-control" id="dateFrom">
            </div>
        </div>
        <div class="form-group row">
            <label for="dateTill" class="col-sm-3 col-form-label">Till datum</label>
            <div class="col-sm-3">
                <input type="date" name="dateTill" class="form-control" id="dateTill">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-9">
                <button type="submit" form="formNewCouncilTerm" class="btn btn-primary" id="btnAddInstance">Skapa period</button>
            </div>
        </div>
    </form>

    <p>&nbsp;</p>

    <form method="POST" action="/admin/councils/create" id="formNewCouncilAndTerm">
        <h3>Skapa period för nytt råd</h3>
        <div class="form-group row">
            <label for="inputFaculty2" class="col-sm-3 col-form-label">Välj fakultet</label>
            <div class="col-sm-9">
                <select name="faculty" id="inputFaculty2" class="form-control ">
            <option value="null">Välj...</option>
            {{#if faculties}}
            {{#each faculties}}
            <option value="{{{this.id}}}">{{{this.name}}}</option>
            {{/each}}
            {{/if}}
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCouncilName" class="col-sm-3 col-form-label">Namn på råd</label>
            <div class="col-sm-9">
                <input name="councilName" type="text" class="form-control" id="inputCouncilName" placeholder="Programråd">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputComments" class="col-sm-3 col-form-label">Beskrivning</label>
            <div class="col-sm-9">
                <textarea name="comments" type="text" class="form-control" id="inputComments" rows="5" placeholder="Beskriv vad rådet gör"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputStudents" class="col-sm-3 col-form-label">Antal önskade studenter</label>
            <div class="col-sm-9">
                <input name="students" type="number" class="form-control" value="0" min="0" max="10" id="inputStudents">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPhds" class="col-sm-3 col-form-label">Antal doktorander</label>
            <div class="col-sm-9">
                <input name="phd" type="number" class="form-control" value="0" min="0" max="10" id="inputPhds">
            </div>
        </div>
        <div class="form-group row">
            <label for="dateFrom" class="col-sm-3 col-form-label">Från datum</label>
            <div class="col-sm-3">
                <input name="dateFrom" type="date" class="form-control" id="dateFrom">
            </div>
        </div>
        <div class="form-group row">
            <label for="dateTill" class="col-sm-3 col-form-label">Till datum</label>
            <div class="col-sm-3">
                <input name="dateTill" type="date" class="form-control" id="dateTill">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-9">
                <button type="submit" form="formNewCouncilAndTerm" class="btn btn-primary" id="btnAddCouncil">Skapa nytt råd och period</button>
            </div>
        </div>
    </form>

</div>
