<div id="admin">
  <h1>Administrera</h1>
  <div class="row">
    <div class="col-md-3">
        <h2>Fakultet</h2>
        <ul>
            <li><a href="/admin/faculties/create">Lägg till fakultet</a></li>
            <li><a href="/admin/faculties">Lista fakulteter</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Råd</h2>
        <ul>
            <li>Lägg till råd</li>
            <li><a href="/admin/councils">Lista råd</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Studenter</h2>
        <ul>
            <li>Lägg till student</li>
            <li>Lista studenter</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Personal</h2>
        <ul>
            <li>Lägg till personal</li>
            <li>Lista personal</li>
        </ul>
    </div>
    </div>
</div>
