<div id="councilPanel">

    <div class="row">
        <div class="col-lg-6">
            <div class="col-sm-9 input-group-lg">
                <select id="inputFaculty" class="form-control ">
                    <option value="null">V채lj fakultet</option>
                    {{#if faculties}}
                        {{#each faculties}}
                            <option value="{{{this.id}}}">{{{this.name}}}</option>
                        {{/each}}
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-sm-9 input-group-lg">
                <select id="inputCouncil" class="form-control">
                    <option value="null">Visa alla</option>
                </select>
            </div>
        </div>
    </div>

    <input type="checkbox" id="inputNext" value="next">Visa n채sta period

    <table class="table table-hover">
        <thead>
        <tr>
            <th>R책d</th>
            <th>Fr책n</th>
            <th>Till</th>
            <th>Studenter</th>
            <th>Doktorander</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
