<div class="col-md-8" id="council">
    {{#each faculties}}
        <p><a href="/admin/faculties/{{this.id}}">{{this.name}}</a></p>
        <!--<ul>-->
            <!--{{#each this.councils}}-->
                <!--<li><a href="/council/{{this.id}}">{{this.name}}</a></li>-->
            <!--{{/each}}-->
        <!--</ul>-->
    {{/each}}
</div>
