<div id="studentPanel">
  <div class="col-md-8">
    <h3>Representantsval</h3>

    <div class="list-group">

      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Fakulteten för saker
      </div>

      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Fakulteten för ljud
      </div>

      <div class="list-group-item thin">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Rådet för nötter
        <span class="badge">Sökande: 3</span>
        <span class="badge">Invalda: 1/4</span>
      </div>

      <div class="list-group-item thinner">
        <a class="">Konstig Människa</a>
        <span class="label label-default icon-red">Aktiv i: 4</span>
        <button class="glyphicon glyphicon-remove-sign pull-right " aria-hidden="true"></button>
        <button class="glyphicon glyphicon-ok-sign pull-right icon-green" aria-hidden="true"></button>
        <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
      </div>

      <div class="list-group-item thinner">
        <a class="">Annan Människa</a>
        <span class="label label-default">Aktiv i: 2</span>
        <button class="glyphicon glyphicon-remove-sign pull-right icon-red" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true"></button>
        <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
      </div>

      <div class="list-group-item thinner">
        <a class="">Tredje Människa</a>
        <span class="label label-default">Aktiv i: 1</span>
        <button class="glyphicon glyphicon-remove-sign pull-right icon-red" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true"></button>
        <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
      </div>

      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Fakulteten för öl
      </div>

      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Icke rådsspecifika sökande
        <span class="badge">Sökande: 8</span>
      </div>

      <div class="list-group-item thinner">
        Konstig Människa
      </div>

      <div class="list-group-item thinner">
        Annan Människa
      </div>

    </div>

</div>
