<div id="studentPanel">
  <div class="col-md-8">
    <h3>Representantsval</h3>

    <div class="list-group">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Fakulteten för saker
      </div>

      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Fakulteten för ljud
      </div>

      <div class="list-group-item thin">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Rådet för nötter
        <span class="badge">Sökande: 3</span>
        <span class="badge">Invalda: 1/4</span>
      </div>

      <div class="list-group-item thinner">
        Konstig Människa
        <button class="glyphicon glyphicon-remove-sign pull-right " aria-hidden="true"></button>
        <button class="glyphicon glyphicon-ok-sign pull-right icon-green" aria-hidden="true"></button>
        <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
      </div>

      <div class="list-group-item thinner">
        Annan Människa
        <button class="glyphicon glyphicon-remove-sign pull-right icon-red" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true"></button>
        <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
      </div>

      <div class="list-group-item thinner">
        Tredje Människa
        <button class="glyphicon glyphicon-remove-sign pull-right icon-red" aria-hidden="true"></button>
        <button class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true"></button>
        <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
      </div>

      <div class="list-group-item">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        Fakulteten för öl
      </div>

    </div>
</div>
