<footer>
  <div class="container">



      <div id="left">
          <h4>KONTAKT KALMAR</h4>
          <p>
          Besöks- & postadress: Linnéstudenterna Nygatan 18A 391 82 Kalmar <br>
          Telefon: 010-330 30 09 Vardagar 9.00 -12.00 <br>
          Expeditionens öppettider: Måndag, onsdag och torsdag 11.00-13.00
          </p>
      </div>

      <div id="right">
          <h4>KONTAKT VÄXJÖ</h4>

          <p>
          Besöksadress: Tufvan Tuvanäsvägen 12 352 52 Växjö <br>
          Postadress: Linnéstudenterna Box 5015 350 05 Växjö <br>
          Telefon: 010-330 30 09 Måndag – fredag 9.00 -11.30 <br>
          Expeditionens öppettider: Öppet alla vardagar förutom tisdag 12.00 – 15.00
          </p>
      </div>

      <hr>

        <p>© 2017 <a href="http://linnestudenterna.se" data-wpel-link="internal"><strong>Linnéstudenterna</strong></a> Alla rättigheter.</p>

  </div>
</footer>
