<footer>
  <div class="container">
    By Popniten
    <hr>
    <p>© 2017 <a href="http://linnestudenterna.se" data-wpel-link="internal"><strong>Linnéstudenterna</strong></a> Alla rättigheter.</p>
  </div>
</footer>
