<footer class="footeradmin">
  <div class="container">
    <p>© 2017 <a href="http://linnestudenterna.se" data-wpel-link="internal"><strong>Linnéstudenterna</strong></a> Alla rättigheter.</p>
  </div>
</footer>
