<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/logo_srd.png" class="img-responsive" alt="">
      </div>
      <div class="col-lg-3">

      </div>
    </div>

    <ul class="nav navbar-nav nav-pills">
        <li role="presentation" class="active"><a href="/">Hem</a></li>
        <li role="presentation"><a href="/faq">FAQ</a></li>
        <li role="presentation"><a href="/posts">Postbeskrivningar</a></li>
        <li role="presentation"><a href="/apply">Anmäl intresse</a></li>
    </ul>

    <ul class="nav navbar-nav nav-pills navbar-right">
        <li role="presentation"><a href="/admin/login">Logga in</a></li>
    </ul>

  </div>
</div>
