<div class="jumbotron">
  <div class="container">
    <img src="/assets/logo_srd.png" class="img-responsive" alt="">

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Hem</a></li>
        <li role="presentation"><a href="#">Anmäl intresse</a></li>
        <li role="presentation"><a href="#">Om oss</a></li>
    </ul>
  </div>
</div>
