<div class="col-md-4">

  <section class="side-panel">
    <h4>Sök i databasen</h4>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Sök</button>
      </span>
    </div><!-- /input-group -->
  </section>

  <section class="side-panel">
      <h4>Kontakta oss</h4>
      <img src="/assets/kinka.jpg" class="img-responsive" alt="">
      <p>
          <strong>KINKA BARVESTAD</strong>
          <a href="mailto:representant@linnestudenterna.se">representant@linnestudenterna.se</a>
          <br>
          <a href="tel:072-318-00-26">072-318 00 26 </a>
      </p>
  </section>

  <section>
      <h4>Följa oss</h4>

      <a href="https://www.facebook.com/Linnestudenterna/" target="_blank" class="icons">
          <img src="/assets/default_facebook.png" width="40" class="img-responsive" alt="Follow on Facebook">
      </a>

      <a href="https://www.instagram.com/Linnestudenterna/" target="_blank" class="icons">
          <img src="/assets/default_instagram.png" width="40" class="img-responsive" alt="Follow on Facebook">
      </a>

  </section>

</div>
