<div class="col-md-8" id="council">
  <h4>F.A.Q.</h4>

    <h5>Hur mycket arbete innebär det att vara studentrepresentant?</h5>

    <p>Vissa spenderar en kvart i veckan på sitt uppdrag medan andra arbetar 3 timmar i månaden.
        Arbetsmängden kan skilja sig ganska mycket beroende på vilket organ som man som student är invald i.
        Exempelvis så behandlar fakultetsstyrelserna större och mer omfattande frågor än exempelvis ett kursplanutskott.
    </p>

    <h5>Vad gör studentrepresentanter?</h5>

    <p>Studentrepresentanter gör allt från att bevaka och påverka kursplaner, till att arbeta för en bra arbetsmiljö,
        till att förlänga universitetsbibliotekens öppettider.
    </p>

    <h5>Behöver jag ha erfarenhet av styrelsearbete?</h5>

    <p>Nej, det viktigaste är att du har viljan att påverka och är engagerad i alla studenters bästa.</p>

    <h5>Får jag betalt?</h5>

    <p>Ja, 350 kr för en halvdag och 700 kr för en heldag (brutto).</p>

    <h5>Vilka platser är lediga?</h5>

        <p>Hitta alla lädiga platser <a href="/">här</a></p>

</div>
