<div class="list-group">
  <a href="#" class="list-group-item"><span class="badge">14</span>Dapibus ac facilisis in</a>

  <a href="#" class="list-group-item indent">Morbi leo risus</a>
  <a href="#" class="list-group-item indent">Morbi leo risus</a>
  <a href="#" class="list-group-item indent">Morbi leo risus</a>

  <a href="#" class="list-group-item"><span class="badge">4</span>Morbi leo risus</a>
  <a href="#" class="list-group-item"><span class="badge">8</span>Porta ac consectetur ac</a>
  <a href="#" class="list-group-item"><span class="badge">1</span>Vestibulum at eros</a>
</div>

<p><strong>Bli Studentrepresentant&nbsp;– erfarenheter, inflytande och en extra inkomst</strong><b><br>
</b>Uppdraget som studentrepresentant erbjuder dig en rolig erfarenhet, en merit på CV:t och extra klirr i kassan.&nbsp;Som student har du har du rätt att vara studentrepresentant i alla beredande (förberedande) och beslutande organ inom universitetet, i alla fall i de organ som har betydelse för utbildningen och studenternas situation. Universitetet får inte fatta beslut som påverkar utbildningen eller studiesituationen, utan att först ha varit i samråd med studenterna. Om du är intresserad av att ansöka till en studentrepresentants-plats, kontakta oss via&nbsp;<a href="mailto:representant@linnestudenterna.se">representant@linnestudenterna.se</a>&nbsp;Det går också att fylla i en (icke bindande) <a href="https://docs.google.com/forms/d/e/1FAIpQLSfIw_mymeqTw5HtlPaVWF3hisIAkAeafWZ8WMRHKeVTYPNa0A/viewform" data-wpel-link="external" target="_blank" rel="external noopener noreferrer" class="ext-link wpel-icon-right">intresseanmälan <span class="wpel-icon wpel-image wpel-icon-15"></span></a>så blir du kontaktad.</p>

<p><strong>FAQ Studentrepresentant</strong></p>

<p><strong>Hur mycket arbete innebär det att vara studentrepresentant?</strong><br>
Vissa spenderar en kvart i veckan på sitt uppdrag medan andra arbetar 3 timmar i månaden. Arbetsmängden kan skilja sig ganska mycket beroende på vilket organ som man som student är invald i. Exempelvis så behandlar fakultetsstyrelserna större och mer omfattande frågor än exempelvis ett kursplanutskott.</p>
