<div class="col-md-8" id="council">
  <h4>Postbeskrivningar</h4>

    <h5>Fakultetsstyrelse</h5>

    <p>En fakultetsstyrelse är det högsta beredande organet för fakulteten.
        I fakultetsstyrelsen sitter dekanen, prodekanen, fakultetsanställda ledamöter, externa ledamöter och
        studentrepresentanter.
        <br>
        Varje fakultetsstyrelse ansvarar inom sitt område för utbildning, forskning och samverkan med bland annat samhälle och näringsliv.
        <br>
        Huvudansvaret är främst inom vetenskapliga, innehållsmässiga och kvalitetsrelaterade frågor, men även fördelning
        av resurser. Det innebär att fakultetsstyrelsens uppgift är att
        <ul>
            <li>fatta beslut om verksamhetens organisation</li>
            <li>följa upp fakultetens utveckling i förhållande till strategiska planer och policys</li>
            <li>följa upp fakultetens utveckling med avseende på kvalitet i utbildning, forskning och samverkan</li>
            <li>fördela resurser ut till institutioner och enheter</li>
            <li>inrätta utbildningsprogram samt fastställa utbildningsplaner</li>
            <li>föreslå rektor inrättande eller avveckling av forskarämne</li>
        </ul>
    </p>

    <h5>Prefekt beslutsmöte</h5>

    <p>
        Varje institution leds av en prefekt. Vissa beslut behöver inte gå upp till Dekanens eller fakultetsstyrelsens nivå, utan fattas utav prefekten.
        <br>
        Prefekts beslutsmöten består av prefekten, administratör, institutionsanställd ledamot och studentrepresentant.
        <br>
        Ärenden som tas upp på prefekts beslutsmöten kan vara rutiner, policys och mer praktiska ärenden som rör kärnverksamheten.
    </p>

    <h5>Utbildningsråd</h5>

    <p>
        På varje fakultet finns det ett utbildningsråd.
        Utbildningsrådet bereder ärenden på grund- och avancerad nivå till dekan och fakultetsstyrelse, liksom samordnar och följer upp kvalitetsarbetet inom utbildning.
        <br>
        Utbildningsrådets uppgift är bland annat att:
        <ul>
            <li>bereda förslag till huvudområden för examina</li>
            <li>ta fram förslag till revidering och fastställande av utbildningsplaner</li>
            <li>ta fram förslag till programutbud</li>
            <li>fbereda en plan för systematiskt kvalitetsarbete på fakulteten</li>
        </ul>
    </p>

    <h5>Anställningsnämnd</h5>

    <p>
        Anställningsnämnden bereder anställningsärenden till dekan och rektor. Nämnden begär in och analyserar sakutlåtanden,
        handlingar och tjänsternas omfattning i förhållande till de sökandes kompetens och erfarenhet.
        <br>
        Nämnden består av en ordförande, ansvarig prefekt i ärendet, ämnesansvarig, handläggare från personalavdelningen
        samt en studentrepresentant.
    </p>

    <h5>Handledarkollegier</h5>

    <p>
        I handledarkollegierna på de olika fakulteterna kan arbetsordningen se lite olika ut. Det huvudsakliga arbetet är att alla huvudhandledare tillsammans med examinatorer och studentrepresentanter samlas och bereder ärenden för dekan och fakultetsstyrelse.
        <br>
        Handledarkollegiet bereder ärenden så som:
        <ul>
            <li>inrättande av ämnen på forskarnivå</li>
            <li>utlysning av doktorandanställning och framställning av anställningsprofil</li>
            <li>allmänna studieplaner: nya och reviderade</li>
            <li>byte av handledare, biträdande handledare och examinator</li>
            <li>uppföljningsrapporter av forskningstid</li>
        </ul>
    </p>

    <h5>Kursplaneutskott</h5>

    <p>
        Kursplaneutskottets uppgift är att granska nya kursplaner, och kursplaner som ska revideras, och se till att de
        är tydliga, lättöverskådliga och studenträttsliga. Huvudfokus är på utformningen av kursplanerna, överensstämmelse
        mellan de uppsatta målen, innehåll, undervisningsformer och examination.
        <br>
        Utskottet består av lärare från olika ämnen, administratör från fakulteten och studentrepresentant.
    </p>

    <h5>Programråd</h5>

    <p>
        Programråden arbetar för en långsiktig och strategiskt hållbar utveckling av programmen inom fakulteterna.
        Programråden består av lärarrepresentanter, programansvarig, sekreterare från administrationen samt studentrepresentanter.
        <br>
        Programrådets uppgift är bland annat:
    <ul>
        <li>att programvärderingar och kursvärderingar följs upp och återrapporteras</li>
        <li>att arbeta för samverkan mellan akademi och arbetsliv/branschsektor sker som en naturlig del i utbildningen</li>
    </ul>
    </p>


</div>
